/*reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*header*/
#main_header{
    height: 45px;
    background: url(../img/header_background.png);

    position: relative;
    text-align: center;
    line-height: 45px;
}
#main_header > h1{
    color: white;
}
#main_header > a, #main_header > label{
    display: block;
    height: 32px;
    position: absolute;
}
#main_header > a.left{
    width: 62px;
    left: 5px;
    top: 7px;
}
#main_header > label.right{
    width: 32px;
    right: 5px;
    top: 7px;
}